
* {
    margin: 0;
}
body {
    background-color: #1F2039;
    color: #F9F8FF;
    font-family: 'Manrope', sans-serif;
}
header, footer {
    padding:20px 50px ;
    background-color: white;
}
section {
    padding: 80px;
}
a {
    color: #242424;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.introduction {
    color: #a5b4fc;
}
h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
}
h2 {
  color: #f9f8ff;
}
p,li {
    font-size: 1.1em;
    color: #f9f8ff;
}
em {
    color: #a5b4fc;
    font-style: normal;
}
.entete, .pied-de-page {
    background-color: white;
}
.lien-icone:hover {
    opacity: 0.5;
}
.cta {
    color: white;
    background: linear-gradient(#8e86b5, #acaeed);  
    border-radius: 50px 50px 50px 50px; 
    padding: 20px 30px;
}
.cta:hover {
    background: linear-gradient(#696484,#8788BA);
    text-decoration: none;
}
.a-propos {
    border-right: 1px solid #8e86b5  ;
    border-bottom: 1px solid #8e86b5 ;
    padding: 50px;

}
.a-propos h2 {
    margin-top: 30px;
}
.a-propos ul {
    margin-top: 30px;
}
.a-propos-main {
    margin: auto;
    width: 50%;
}
